.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.save {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: x-large;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0px;
  color: white;
}

.searchBox {
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.searchButton {
  border: non;
  border-radius: 0px 10px 10px 0px;
}

button, input {
  outline: none !important;
  box-shadow: none !important;
}

.jumbotron {
  border-radius: 0px !important;
}

.bg-search {
  background-color: #eeeeee;
}